* {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;


    /* banner  items */
    .banner-text {
        color: #FFF;
        text-align: center;
        margin-top: 210px;
        margin-left: 500px;
        margin-right: 500px;
    }

    .banner-text p {
        text-align: center;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .banner-text h1 {
        text-align: center;
        font-size: 76px;
        font-weight: 900;

    }

    .banner {
        background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
        width: 1584px;
        height: 720px;
        background-size: 1584px 720px;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 40px;
        display: flex;
    }
}

body {
    margin: 0 140px 120px 140px;
}

/* section-1 */
.section-1 {
    text-align: center;
    margin-top: 160px;
}

.section-1 .section-1-text {}

.section-1 .section-1-text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.section-1 .section-1-text p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 18px;
}

.section-1 .section-1-text h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

/* section-2 */
.section-2 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-size: 1584px 720px;
    width: 1584px;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 120px;
    color: #FFF;
    display: flex;
}

.section-2 .section-2-text {
    margin: 200px 500px auto 200px;
}

.section-2 .section-2-text h1 {
    font-size: 76px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.section-2 .section-2-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.section-2 .section-2-text button {
    border-radius: 10px;
    background: #774e03;
    color: #FFF;
    font-size: 25px;
    padding: 16px 32px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.section-2 .section-2-text button:hover {
    background: #F00;
}

/* .section-3 */
.section-3 {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1584px;
    height: 600px;

    background-size: 1584px 720px;
    margin-top: 120px;
    text-align: center;
    display: flex;
}

.section-3 .section-3-text pre {
    margin: 220px 515px 0 470px;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.section-3 .section-3-text span {
    color: #F00;
}

.section-3 .section-3-text button {
    border-radius: 10px;
    background: #F00;
    color: #FFF;
    font-size: 25px;
    padding: 16px 32px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.section-3 .section-3-text button:hover {
    background: rgb(15, 236, 7);
}

/* section-4 */
.section-4 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 120px;
}

.section-4 .section-4-1stext {
    margin-top: 100px;
}

.section-4 .section-4-1stext h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.section-4 .section-4-1stext h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-4 .section-4-1stext p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.section-4 .section-4-image {
    border: #F00 solid 10px;
    border-radius: 50%;
    padding: 30px;
}

.section-4 .section-4-2ndtext {
    margin-top: 100px;
}

.section-4 .section-4-2ndtext h3 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.section-4 .section-4-2ndtext p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 26px;
}

/* select-5 */
.section-5 .section-5-text {
    text-align: center;
    margin: 130px 380px 0 380px;
}

.section-5 .section-5-text h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.section-5 .section-5-text h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.section-5 .section-5-text h1 span {
    color: #F00;
}

.section-5 .section-5-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    max-width: 1300px;
}

/* section-5 Image */

.section-5-image {
    display: flex;
    justify-content: space-between;
}


/* .section-6 */
.section-6 {
    margin-top: 120px;
}

.section-6 .section-6-text h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-6 .section-6-text h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.section-6 .section-6-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 20px 500px 48px 0;
}

.image-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 0;
}


/* section-7 */
.section-7 {
    text-align: center;
    margin-top: 200px;
}

.section-7 img {
    width: 170px;
    height: 170px;
}

.section-7 h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.section-7 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    max-width: 1300px;
    margin: 10px 380px 36px 380px;
}

.section-7 button {
    color: #FFF;
    font-size: 25px;
    padding: 16px 32px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.section-7 input {
    color: black;
    font-size: 25px;
    padding: 16px 32px;
    font-weight: 700;
    border: none;
    padding: 120px;
}

/* footer */
.footer {
    background-color: #070211;
    width: 100%;
}

.footer-section {
    display: flex;
    padding: 120px 140px 0 140px;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.footer-image {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    gap: 24px;
    margin-bottom: 48px;
}

.footer-section2 {
    display: flex;
    padding: 120px 80px 120px 80px;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.line {
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
}